{% extends 'base.html' %}
{% load static %}



{% block opportunities %}
<h1> Job Posting Details: </h1>
<br> <br>
<div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="{{ opportunity.link }}"><img src="{{ opportunity.image.url }}" alt=""></a>
                    </div>
                    <div class="card-content">
                    <br>
                        <h4>Title:  <strong>{{ opportunity.title }}</strong></h4>
                    </div>
                    {% if opportunity.recruiter %}
                    {% if opportunity.recruiter != user.username %}
                    <div class="card-content" >
                    <br>
                        <a href={% url 'chats:thread' opportunity.recruiter %}><button class='btn btn-primary'> Contact Recruiter </button> </a>
                    </div>
                    
                    {% else %}
                    <div class="card-content" >
                    <br>
                        <a href={% url 'opportunities:updateOpportunities' opportunity.id  %}><button class='btn btn-primary'> Update Job posting </button> </a>
                    </div>
                    <div class="card-content" >
                    <br>
                        
                         <a href={% url 'opportunities:deleteOpportunities' opportunity.id  %}> <button class='btn btn-danger'> Delete Job Posting </button> </a>
                    </div>


                    {% endif %}
                    {% endif %}
                    {% if opportunity.jobType %}
                    <div class="card-content" >
                    <br>
                        <h4>Type: <strong> {{opportunity.jobType}} </strong> </h4>
                    </div>
                    {% endif %}
                    {% if opportunity.company %}
                    <div class="card-content" >
                    <br>
                        <h4>Company: <strong> {{opportunity.company}} </strong> </h4>
                    </div>
                    {% endif %}
                    {% if opportunity.location %}
                    <div class="card-content" >
                    <br>
                        <h4>Location: <strong> {{opportunity.location}} </strong> </h4>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <h4>Posted at: {{ opportunity.date }}</h4>
                    </div>
                    {% if opportunity.recruiter != user.username %}
                    <div class="card-action">
                        <a href="{{ opportunity.link }}"> <button class='btn-primary'> Apply </button> </a>
                    </div>
                    {% endif %}
                </div>
            </div>





{% endblock opportunities %}