{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000"/>
    <!-- Bootstrap CSS -->
    {% comment %} <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins'%}" rel="stylesheet" /> {% endcomment %}
		<link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
      .bg-tweetme {
          background-color: #3b5998 !important;
      }
    </style>
    <title>Zoomala {% block head_title %}{% endblock head_title%}</title>
  </head>
  <body  class="container-fluid" >
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <nav class="navbar navbar-expand-lg navbar-dark bg-tweetme mb-4">
    <a class="navbar-brand" href="/"> Zoomala</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/opportunities">Opportunities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mentorship">Mentorship(Coming soon)</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/profile/edit">Edit My Profile (Logged in as {{request.user.username}})</a>
          
        </li>
        
        
        {% else %}

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>

        {% endif %}
      </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav navbar-right">

        <li class="nav-item">
                <a class="nav-link" href="{% url 'searchProfile' %}"><button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Find Zoomala</button></a>
              </li>
        <li class="nav-item">
                <a class="nav-link" href="/messages"><button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-envelope"></span> Messages </button></a>
              </li>
        </ul>
      {% endif %}


      <form class="form-inline my-2 my-lg-0 d-none">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    {% block opportunities %}
   
    <div class='container-fluid'></div>
      {% block content %}
      {% endblock content %}
      {% block searchProfile %}
      {% endblock searchProfile %}
    </div>
    {% include 'react/base_embed.html' %}
    {% include 'react/js.html' %}
    
   {% endblock opportunities %}
   {% block scripts %}
   
   {% endblock scripts %}
  </body>
</html>